<div class="container">
  <div class="row">
    <div *ngFor="let pokemon of pokemonList" class="col s12 m6 l4">
      <button role="button"class="card horizontal" (click)="goToPokemon(pokemon.id)" appPokemonBorderCard>
        <div class="card-image">
          <img [src]="pokemon.picture" alt="pokemon picture">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{pokemon.name}}</p>
            <p><small>{{pokemon.created | date:'dd/MM/yyyy' }}</small></p>
            <span *ngFor="let type of  pokemon.types" class="{{ type | pokemonTypeColor}}">
              {{type}}
            </span>
          </div>
        </div>
      </button>
    </div>


        <div class="row justify-content-between">
          <div class="card-action">
            <a
              (click)="addNewPokemon()"
              (keypress)="addNewPokemon()"
              role="button"
              tabindex="0"
              >Créer un pokemon</a
            >
  </div>
</div>
